

.contacts-content{
    margin-top: 74px;
    display: flex;
    gap: 109px;
}

.contacts-tel:before {
    content: '';
    position: absolute;
    top: -50px;
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('../resources/phone.png');
    background-repeat: no-repeat;
}

.contacts-tel_item {
    font-size: 60px;
    line-height: 60px;
    color: #121212;
    display: block;
    text-decoration: none; 
}

.contacts-tel{
    position: relative;
    
}

.contacts-mail:before {
    content: '';
    position: absolute;
    top: -46px;
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('../resources/mail.png');
    background-repeat: no-repeat;
}

.contacts-mail_item {
    
    font-size: 60px;
    line-height: 60px;
    color: #121212;
    display: block;
    text-decoration: none;
}

.contacts-mail{
    position: relative;
}

.contacts-tel_item:hover {
    opacity: 0.5;
    text-decoration: underline;
    text-underline-offset: 17px;
    text-decoration-thickness: 2px;
}

.contacts-mail_item:hover {
    opacity: 0.5;
    text-decoration: underline;
    text-underline-offset: 17px;
    text-decoration-thickness: 2px;
}

@media (max-width: 1199px) {
    .contacts-content{
        gap: 120px;
    }

    .contacts-mail_item {
        font-size: 45px;
    }

    .contacts-tel_item {
        font-size: 45px;
    }
}

@media (max-width: 767px) {
    .contacts-content{
        margin-top: 58px;
        flex-direction: column;
        row-gap: 58px;
    }

    .contacts-mail_item {
        font-size: 35px;
        line-height: 46px;
    }

    .contacts-tel_item {
        font-size: 35px;
        line-height: 46px;
    }
    

    .contacts-tel:before{
        background-image: url('../resources/telphone.png');
        width: 18px;
        height: 18px;
        top: -37px;
    }
    .contacts-mail:before {
        background-image: url('../resources/telmail.png');
        width: 18px;
        height: 18px;
        top: -35px;
    }

}