.footer {
    background-color: #121212;
    padding: 60px 0 30px 0;
}

.container__footer {
    margin: 0 auto;
    max-width: 1150px;
}

.footer__inner {
    padding-right: 17px;
    /* margin: 0 auto;
    width: 475px;
    padding-left: 13px;   */
}

.nav {
    display: flex;
    justify-content: center;
    gap: 55px;
}


.nav__link {
    display: block;
    /* height: 25px; */
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    /* margin-right: 53px; */
    
}

/* .nav__link:nth-last-child(1) {
    margin-right: 0;
} */

.nav__link:hover {
    opacity: 0.5;
}

.text-footer {
    width: 100%;
    margin-top: 87px;
    margin-right: -5px;
    text-align: center;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    opacity: 0.5;
}
@media (max-width: 1199px) {

}

@media (max-width: 767px) {
    .footer {
        padding: 30px 0 26px 0;
    }

    .container__footer {
        width: 100%;
    }

    .nav{
        gap: 30px;
    }

    .nav__link {
        font-size: 12px;
        line-height: 16px;
    }

    .text-footer {
        margin-top: 41px;
        font-size: 13px;
        line-height: 18px;

    }

    .footer__inner {
        padding-right: 0;
    }
}