

.project__item-img{
    margin-bottom: 14px;
    width: 100%;

}

.project__item-text{
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    color: #121212;
}

.project__item-btn{
    display: block;
    font-size: 20px;
    line-height: 27px;
    color: #AD1818;
    text-decoration: none;
    margin-bottom: 90px;
}



.project__list-btn{
    width: 100%;
    display: block;
    height: 153px;
    border: 1px solid #AD1818;
    color: #AD1818;
    text-align: center;
    font-size: 30px;
    line-height: 153px;
    text-decoration: none;
    border-radius: 5px;

}

.project__list-btn:hover{
    background: #AD1818;
    color: #FFFFFF;
}

@media (max-width: 1199px) {

    .project__item-text {
        margin-bottom: 8px;
        font-size: 25px;
        line-height: 34px;
    }

    .project__item-btn {
        margin-bottom: 80px;
    }

    .project__list-btn {
        margin-top: 102px;
    }
}

@media (max-width: 767px) {

    .project__item-img {
        margin-bottom: 17px;
    }


    .project__item-text {
         margin-bottom: 11px;
        font-size: 18px;
        line-height: 25px;
    }

    .project__item-btn {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 49px;
    }

    .project__list-btn {
        margin-top: 60px;
        height: 100px;
        font-size: 22px;
        line-height: 100px;
    }


}