

.row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 80px;

}

.col {
    width: calc(50% - 25px);

}

.col-big:last-child {
    width: 75%;
}

.reviews-content {
    width: 100%;
    color: #000000;
}

.reviews-header {
    margin-bottom: 14px;
    font-size: 45px;
    line-height: 61px;
}

.reviews-description {
    font-size: 22px;
    line-height: 30px;
}

.reviews-description__box{
    height: 100%;
    width: 500px;
}

@media (max-width: 1199px) {
    
    .reviews-header {
        margin-bottom: 26px;
        font-size: 35px;
        line-height: 48px;
    }
    .reviews-description {
        width: 100%;
        font-size: 20px;
        line-height: 27px;
    }
    

    .row {
        column-gap: 10px;
        row-gap: 78px;
    }
    .col {
        width: calc(50% - 5px);
    
    }
}
@media (max-width: 767px) {

    .row {
        flex-direction: column;
        row-gap: 76px;
    
    }
    .col {
        width: 100%;
    }

    .col-big:last-child {
        width: 100%;
    }

    .reviews-header {
        margin-bottom: 10px;
        font-size: 25px;
        line-height: 34px;    
    }
    .reviews-description{
        font-size: 16px;
        line-height: 22px;
    }

    .reviews-description__box{
        height: 100%;
    }

}