@import '../styles/heading.css';
@import '../styles/aboutus.css';
@import '../styles/projects.css';
@import '../styles/services.css';
@import '../styles/reviews.css';
@import '../styles/gallery.css';
@import '../styles/contacts.css';
@import '../styles/footer.css';
@import '../styles/popup.css';
@import '../styles/nav.css';

/* *{outline:1px solid red ;
} */
/* html {
    scroll-behavior: smooth;
    min-width: 1400px;
    margin: 0 auto;
} */

html{
    scroll-behavior: smooth;
}

h1,
h2,
h3,
a,
p,
div,
button, 
ul,
li
input {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    letter-spacing: -0.03em;
}




.container {
    margin: 0 auto;
    max-width: 1150px;
    margin-bottom: 150px;
}

@media (max-width: 1199px) {
    .container {
        width: 100%;
        margin-bottom: 120px;
        padding: 0 15px;
    }

    .container_tablet{
        margin-bottom: 100px;
    }
}

@media (max-width: 767px) {
    .container {
        width: 100%;
        padding: 0 12px 0 13px;
        margin-bottom: 80px;
    }
}

.chapter {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #121212;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .chapter{
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 19px;
    }
}






   










